<<<<<<< HEAD
h1{ color: green;}
h2{ color: blue;text-decoration: underline;}
=======
h1{ color: green;}
h2{ color: blue;text-decoration: underline;}
>>>>>>> 483ad4955763a11a7fb5b7579d7e01cb757ce211
p{ color: red;}